@font-face 
    font-display: swap
    font-family: 'Morganite Pro'
    font-style: normal
    font-weight: 400
    src: url(../fonts/morganite-pro/MorganitePro-Regular.woff2) format('woff2')
    /* Basic Latin: letters, numbers, punctuation and more */
    unicode-range: U+0000-007F, U+2018-2019, U+201C-201D, U+2014, U+2022, U+2026, U+00A0

@font-face 
    font-display: swap
    font-family: 'Landour'
    font-style: normal
    font-weight: 500
    src: url(../fonts/landour/Landour-MediumText.woff2) format('woff2')
    /* Basic Latin: letters, numbers, punctuation and more */
    unicode-range: U+0000-007F, U+2018-2019, U+201C-201D, U+2014, U+2022, U+2026, U+00A0
