// https://github.com/twbs/bootstrap/blob/v5.3.6/scss/_variables.scss

$primary: #665448
$secondary: #E8DFD3
$light: #FFFFFF
$body-bg: $secondary

$font-family-base: 'Landour', sans-serif
$headings-font-family: 'Morganite Pro', sans-serif
$headings-font-weight: 400
$headings-line-height: 1
$font-weight-base: 500
$h1-font-size: 12.5rem
$h2-font-size: 9.375rem
$h3-font-size: 6.25rem
$h4-font-size: 3.125rem
$h5-font-size: 1.5625rem

$btn-border-radius: 1.5rem
$input-border-radius: 1.5rem

$navbar-padding-y: 1.25rem

$header-background-color: #000000
$header-color: #FFFFFF
$header-height: 80px
$hero-background-color: #000000
$hero-color: #FFFFFF
$footer-background-color: transparent
$footer-color: $primary
$global-spacing: 10rem