// https://github.com/twbs/bootstrap/blob/v5.3.6/scss/_variables.scss

$primary: #1E1E1E
$secondary: #E8E0D3
$tertiary: #68594A
$light: #FFFFFF
$body-bg: $secondary
$dark: #111

$font-family-base: Landour, sans-serif
$headings-font-family: Humane, Arial, sans-serif
$headings-font-weight: 700
$headings-line-height: .8
$font-weight-base: 500
$h1-font-size: 12.5rem // 200
$h2-font-size: 9.375rem // 150
$h3-font-size: 6.25rem // 100
$h4-font-size: 3.125rem // 50
$h5-font-size: 1.5625rem // 25

$btn-border-radius: 3rem
$btn-padding-x: 2rem
$btn-padding-y: 1.5rem
$input-border-radius: 3rem
$input-padding-x: 1.5rem
$input-padding-y: 1rem

$navbar-padding-y: 1.25rem

$spacer: 1.25rem
$spacer-lg: 2.5rem

$header-background-color: $secondary
$header-color: $dark
$header-height: 80px
$hero-background-color: $dark
$hero-color: $secondary
$footer-background-color: transparent
$footer-color: $primary
$global-spacing: 8rem
$global-spacing-md: 4rem
$ratio: 1.6