header[role="banner"]
    .logo
        @include media-breakpoint-down(md)
            max-width: 65%
    .nav
        --bs-nav-link-color: white
        --bs-nav-link-hover-color: white
        margin-right: calc(var(--bs-nav-link-padding-x) * -1)