.block-editorial
    background-color: $dark
    color: $secondary
    overflow: hidden
    padding-bottom: 0
    padding-top: 0
    @include media-breakpoint-up(xl)
        width: 100%
    @include media-breakpoint-up(xxl)
        aspect-ratio: $ratio
        max-height: 100vh
        width: 100%
    .container,
    .row
        height: 100%
    .container
        max-width: none
        padding: 0
    .row
        align-items: normal
        margin: 0
        @include media-breakpoint-only(md)
            flex-direction: column-reverse
    .content,
    .media
        @include media-breakpoint-only(md)
            width: 100% !important
        @include media-breakpoint-up(xl)
            max-height: 100%

    .content
        background: radial-gradient(83.13% 121.76% at 62.05% -11.47%, #000000 2.35%, #000000 55.77%, #493C2F 100%)
        display: flex
        flex-direction: column
        justify-content: center
        padding-bottom: $global-spacing
        padding-left: $gutter-mobile
        padding-right: $gutter-mobile
        padding-top: $global-spacing
        @include media-breakpoint-only(md)
            text-align: center
        @include media-breakpoint-up(md)
            padding-left: $global-spacing-md
            padding-right: $global-spacing-md
        @media (min-width: 1600px)
            padding-left: $global-spacing
            padding-right: $global-spacing

    .media
        margin: 0 !important
        padding: 0
        width: 100%
        @include media-breakpoint-up(md)
            width: auto
    figure,
    picture,
    img
        height: 100%
        object-fit: cover
        width: 100%

    figure
        @include media-breakpoint-down(md)
            transform: none !important
