.home-page
    header[role="banner"]
        display: none
    .hero
        &-content
            background: url("/assets/images/logo.svg") no-repeat center top
            padding-top: 15rem
        .container
            @include padding-top(7rem)
            min-height: $home-hero-min-height-mobile
            @include media-breakpoint-up(md)
                min-height: $home-hero-min-height
    main
        padding-bottom: 0
        padding-top: 0