.home-page
    .hero
        .container
            min-height: $home-hero-min-height-mobile
            @include media-breakpoint-up(md)
                min-height: $home-hero-min-height
    main
        padding-bottom: 0